@font-face{
	font-family: 站酷小薇LOGO体;
	src:url(http://www.zcool.com.cn/special/zcoolfonts/#4thpage);
}

body,div,img,p,form,input{
	margin: 0;
	padding: 0;
    font-family:站酷小薇LOGO体; 
}

*{/*第二种设置初始化方式*/
	margin: 0;
	padding: 0;
}


ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
}

img{
	border: none;
    display: block;
}

.clearfloat{
	zoom: 1;/*zoom代表触发此标签属性*/
}
.clearfloat:after {
    display: block;
    clear:both;
    content: "";
    visibility: hidden;
    height: 0;
}















