body{
	background-color: #0065b8;
}

.public-container{
	position: relative;
	margin: 0 auto;
	width: 2500px;
}

.public-header{
    height: 368px;
    width: 2500px; 
    color: #fff;
}

.public-header ul{
	height: 46px;
	margin-top: 222px;
}

.public-header .item{
	float: left;
    font-size: 46px;
    margin-left: 506px;
}

.public-header img{
    width: 2500px;
    height: 74px;
}

.banner-top{
	height: 716px;
    width: 2500px;
    color: #fff;
	font-size: 226px;
    letter-spacing: 40px;
    text-align: center;
    padding-top: 88px;
    padding-bottom: 96px;
    line-height: 300px; /*行高像素值>=字体大小，不然会重叠！*/
    /*226px+74px（psd里的行高）*/
    text-shadow: 10px 10px 10px #00213a;
}

.panel{
    width: 2500px;
    height: 1802px;
    margin-bottom: 266px;
}

.img-trapezoid{
	width: 2500px;
	height: 70px;
    margin-top: 50px;
    margin-bottom: 40px;
}

span{
    float: left;
    letter-spacing: 96px; 
    font-size: 544px;
    text-shadow: 10px 10px 10px #00213a;   
}

.panel-text3,.panel-text1{
	color: #fff;
}

.panel-text2,.panel-text4{
	color: #e9473c;
}

.img-panel{
	float: right;
	width: 1200px;
	height: 1296px;
	margin-top: 78px;
	margin-bottom: 132px;
}

.remark{
	width: 2500px;
	height: 1014px;
	padding-top: 266px;
}

.remark-texts{
	float: left;
}

.remark-text1{
	font-size: 64px;
	color: #e9473c;
}

.remark-text2{
	font-size: 40px;
    color: #fff;
}

.remark-text3{
	font-size: 55px;
	color: #e9473c;
	margin-top: 36px;
	margin-bottom: 64px;
}

.remark-text4{
	font-size: 80px;
	color: #e9473c;
	margin-top: ;
	margin-bottom: 30px;
}

.img-logo-remark{
	float: right;
	width: 973px;
	height: 634px;
}

.remark-QQ a,.remark-email a{
    font-size: 80px;
    color: #fff;
}

.remark-email{
	margin-bottom: 146px;
}

.banner-bottom{
	height: 168px;
    width: 2500px;
    color: #fff;
	font-size: 168px;
    letter-spacing: 28px;
    text-align: center;
    margin-top: 146px;
    margin-bottom: 32px;
}

.public-footer{
    height: 444px;
    width: 2500px;
    color: #fff;
}

.public-footer ul{
	height: 46px;
	margin-bottom: 238px;
}

.public-footer .item{
	float: left;
    font-size: 46px;
    margin-left: 506px;
}

.public-footer img{
    width: 2500px;
    height: 74px;
}



















