body{
	background-color: #0065b8;
}

.public-container{
	position: relative;
	margin: 0 auto;
	width: 156.25rem;
}

.public-header{
    height: 23rem;
    width: 156.25rem; 
    color: #fff;
}

.public-header ul{
	height: 2.87rem;
	margin-top: 13.87rem;
}

.public-header .item{
	float: left;
    font-size: 2.87rem;
    margin-left: 31.62rem;
}

.public-header img{
    width: 156.25rem;
    height: 4.62rem;
}

.banner-top{
	height: 44.75rem;
    width: 156.25rem;
    color: #fff;
	font-size: 14.12rem;
    letter-spacing: 2.5rem;
    text-align: center;
    padding-top: 5.5rem;
    padding-bottom: 6rem;
    line-height: 18.75rem; /*行高像素值>=字体大小，不然会重叠！*/
    /*226px+74px（psd里的行高）*/
    text-shadow: 0.625rem 0.625rem 0.625rem #00213a;
}

.panel{
    width: 156.25rem;
    height: 112.625rem;
    margin-bottom: 16.625rem;
}

.img-trapezoid{
	width: 156.25rem;
	height: 4,375rem;
    margin-top: 3.12rem;
    margin-bottom: 2.5rem;
}

span{
    float: left;
    letter-spacing: 6rem; 
    font-size: 34rem;
    text-shadow: 0.625rem 0.625rem 0.625rem #00213a;   
}

.panel-text3,.panel-text1{
	color: #fff;
}

.panel-text2,.panel-text4{
	color: #e9473c;
}

.img-panel{
	float: right;
	width: 75rem;
	height: 81rem;
	margin-top: 4.875rem;
	margin-bottom: 8.25rem;
}

.remark{
	width: 156.25rem;
	height: 63.375rem;
	padding-top: 16.625rem;
}

.remark-texts{
	float: left;
}

.remark-text1{
	font-size: 4rem;
	color: #e9473c;
}

.remark-text2{
	font-size: 2.5rem;
    color: #fff;
}

.remark-text3{
	font-size: 3.44rem;
	color: #e9473c;
	margin-top: 2.25rem;
	margin-bottom: 4rem;
}

.remark-text4{
	font-size: 5rem;
	color: #e9473c;
	margin-top: ;
	margin-bottom: 1.875rem;
}

.img-logo-remark{
	float: right;
	width: 60.81rem;
	height: 39.625rem;
}

.remark-QQ a,.remark-email a{
    font-size: 5rem;
    color: #fff;
}

.remark-email{
	margin-bottom: 9.125rem;
}

.banner-bottom{
	height: 10.5rem;
    width: 156.25rem;
    color: #fff;
	font-size: 10.5rem;
    letter-spacing: 1.75rem;
    text-align: center;
    margin-top: 9.125rem;
    margin-bottom: 2rem;
}

.public-footer{
    height: 27.75rem;
    width: 156.25rem;
    color: #fff;
}

.public-footer ul{
	height: 2.875rem;
	margin-bottom: 14.875rem;
}

.public-footer .item{
	float: left;
    font-size: 2.875rem;
    margin-left: 31.625rem;
}

.public-footer img{
    width: 156.25rem;
    height: 4.625rem;
}



















